
.about__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.about__img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}
.about__info{
    grid-template-columns: repeat(3,140px);
    gap: 0.5rem;
    margin-bottom: 2rem;
}
.about__title{
    padding-left: 0.25rem;
}
.about__subtitle{
    display: block;
    padding-left: 0.25rem;
}
.cgpa{
    font-size: 0.75rem;
    padding-bottom: 1rem;
}
.about__description{
    margin: 1.25rem 0rem;
    font-size: 1.1rem;
    text-align: justify;
}
.about__box{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: rgb(0 0 0 / 60%) 0px 2px 4px -1px, rgb(0 0 0 / 14%) 0px 4px 5px 0px, rgb(0 0 0 / 12%) 0px 1px 10px 0px;
    border-radius: 0.75rem;
    background-repeat: 0.75rem;
    text-align: center;
    padding: 1rem 0.5rem;
   
    
   
}
.about__box:hover{
    transform: scale(1.15);
    transition: 1s smooth ease-in-out;
    background-color: var(--title-color-dark);
    color: #fff;
}
.about__box:hover h3{
    color: #fff;
}
.cv--icon{
    margin-left: 0.25rem;
}