@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Poppins:wght@200;400;500;600&display=swap");

:root {
  --header-height: 3rem;
  /* Colors */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /* Fonts & Typography */
  --body-font: "Poppins", "Manrope";
}
/* Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: normal;
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  font-family: var(--body-font);
  color: var(--title-color);
  font-weight: 700;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Reusable CSS Classes */
.section {
  padding: 4rem 0 2rem;
}

.section__title {
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  margin-bottom: 4rem;
}
.section__title,.section__subtitle{
  text-align: center;
}


/* Layout */
.container{
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.main{
  margin-top: 5rem;
}
.grid{
  display: grid;
  gap: 1.5rem;
}
/* Buttons */
.button{
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
}
.button:hover{
  background-color: var(--title-color-dark);
}
.button__icon{
  margin-left: var(--mb-0-5);
}
.button--flex{
  display: inline-flex;
  align-items: center;
}


/* Break-Points */
@media screen and (max-width:992px){
  .container{
    margin: 0rem 2rem;
  }
  
}
